/* You can add global styles to this file, and also import other style files */
.mainImage{
    width: 150px;
    height: 300px;
}
.borde:hover {
    /* border: 2px solid #6bc5d2; */
    background: #252525;
    color: whitesmoke;
}
/* fadeIn */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
